#quick-info-container {
    margin-top: 7rem;
    text-align: center;
}

#quick-info-container button {
    font-size: 1.5rem;
    background-color: white;
    /* background: linear-gradient(45deg, cyan, yellow); */
    font-weight: 700;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 0;
}

#quick-info-container button:hover {
    transform: scale(1.025);
    cursor: pointer;
}

#resume-btn {
    color: black;
    
}





/* Media Queries */

@media (max-width: 576px) {
    #quick-info-container {
        margin-top: 7rem;
        margin-bottom: 3.5rem;
    }
 
    #quick-info-container button {
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 0;
    }

    

    #newsletter-container {
        /* background-color: red; */
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }
}