/* Reseting Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Inter, sans-serif;
    color: rgb(253, 253, 253);
}

body {
    background-image: url(images/bg-2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 1.4rem; */
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo {
    font-size: 1.8rem;
    font-weight: 800;
    padding: 1.4rem;  
}

nav a {
    font-size: 1.2rem;
    font-weight: 700;
    border-left: 1px solid rgba(255, 255, 255, 0.171);
    padding: 1.75rem;
}

.container {
    width: 90%; 
    max-width: 1400px; 
    margin: 0 auto; /* Center align */
    padding: 3rem;
    margin-bottom: 3rem;
    /* border: 1px solid white; */
}

.level1heading{
    font-size: 3.5rem;
    padding: 1.5rem;
}

.level1text{
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.level2heading{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.level2text{
    font-size: 1.25rem;
}

.level3heading{
    font-size: 2rem;
}

.level3text{
    font-size: 1.15rem;
}

.level4heading{
    font-size: 1.75rem;
}

footer {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.5rem);
}

#footer-container {
    padding-top: 5rem;
    margin-bottom: 0;
    display: flex;
}

#footer-container div {
    width: 25%;
    /* border: 1px solid white; */
    /* text-align: center; */
}

#footer-container div h3{
    /* text-align: center; */
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* #footer-container ul, p {
    padding-top: 1.5rem;
} */

#footer-container ul {
    padding-top: 1.5rem;
}

#footer-container p {
    padding-top: 1.5rem;
}

#legal-notice-container {
    text-align: center;
    /* padding-top: 1.5rem; */
    margin-bottom: 0;
}


/* Media Queries */

@media (max-width: 576px) {
    #logo {
        font-size: 1.6rem;
        padding: 1rem;
    }

    nav a {
        font-size: 0.8rem;
        padding: 1rem;
    }

    body {
        background-image: url(images/bg_portrait-2.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    .container{
        width: 100%;
        margin: 0;
        padding: 0rem 0.8rem 0rem 0.8rem;
    }
    
    #footer-container {
        display: block;
        padding-top: 0rem;
        text-align: center;
    }

    #footer-container div {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        padding-bottom: 1.5rem;
        /* border: 1px solid white; */
        /* text-align: center; */
    }

    #footer-container div h3{
        /* text-align: center; */
        font-size: 1.5rem;
        padding-bottom: 0;
        padding: 1.5rem;
        border-bottom: 0;
    }

    #footer-container ul, p {
        padding-top: 0;
        font-size: 0.85rem;
    }

    #footer-container p {
        padding-top: 0;
    }

    #legal-notice-container {
        text-align: center;
        padding: 3rem;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #legal-notice-container p {
        font-size: 0.7rem;
    }
}

